div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    transition: all 0.4s;

    &:hover {
      background: lightblue;
    }
  }

  div {
    background: grey;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s;

    &:hover {
      background: lightgray;
    }
  }
}
